.infomationContaner {
    width: 40%;
}

.scralInfo {
    height: 4px;
    width: 100%;
    background-color: #3c97af;
    border-radius: 10px;
  }

.inputCont {
margin-top: 30px;
}
.inputTake {
    width: 95.5%;
    border: none;
    border: 1px solid #EBEBEB;
    padding: 12px 10px;
    margin-top: 5px;
    border-radius: 6px;
    font-size: 16px;
}
.inputTake:focus {
    border: 1px solid #3C97AF;
    border-color: #3c97af;
    outline: none;
  }
  .inputTake:not(:placeholder-shown) {
      border: 1px solid #3C97AF;
    }
.inputCont p {
    font-weight: 480;
    font-size: 14px;
    margin-top: 10px;
}
.infoBtn {
    font-family: Exo;
    background-color: #ebebeb;
    display: flex;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    align-items: center;
    justify-content: center;
    color: #999999;
    font-size: 14px;
    margin-top: 72px;
    cursor: not-allowed;
}
.password {
position: relative;
}
.passwordIcon {
  position: absolute;
  right: 16px;
  bottom: 3px;
}
.passwordIconBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.error-border {
    border: 1px solid red !important;
  }
  @media screen and (max-width:776px ) {
    .infomationContaner {
        width: 100%;
    }

}
@media screen and (max-width:450px ) {
    .infoBtn {
        margin-top: 140px;
    }
  }
